@charset "UTF-8";
/*Custom CSS Document */
/*_______nav_bar_______*/
.navbar .nav {
  float: right;
  display: flex;
  
  align-items: center;
}
.navbar {
  margin-bottom: 0px;
}
#siteNav li {
  text-transform: uppercase;
  border-left: 1px solid #999;
}

.navbar .nav > li > a {
  color:#596B51;
  font-size: 16px;
  text-shadow: 0px 0px 10px white;
  height: 69px;
  display: flex;
  align-items: center;
}
.navbar .brand {
  padding: 0px 0px 0px 45px;
  margin: 0px;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  background-color: #A3A77E;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5) inset;
  color: white;
  /*height: 100%;*/
  /*overflow: hidden;*/
  /*text-decoration: none;*/
}
.navbar-inner {
    background-color: #F7FFEF;
    background-image: linear-gradient(to bottom, #EFF3E2, #F5F7EC);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 0px;
    
}
/*_______footer_______*/
#footerLinks {
  text-align: center;
}
footer li {
  list-style-type: none;
  display: inline;
  margin: 5px 15px;
}
footer ul {
  margin-bottom: 20px;
}
footer heading {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
}
/*_______front page_______*/
#frontStretch {
  background-color: black;
  height: 400px;
  left: 0;
  position: absolute;
  top: 60px;
  width: 100%;
  z-index: -1;
}
.frontSpreadCap {
    font-size: 1.35em;
    font-variant: small-caps;
    margin: 0.5em 0.5em 0;
    
}
.frontSpreadLink {
  display: block;
  max-width: 900px;
  position: relative;
}
.frontSpreadLink:hover{text-decoration: none;}
.frontImageSpread {
 
  margin: 0px;
  
  
  -webkit-transition: opacity .7s ease-in-out;
  -moz-transition: opacity .7s ease-in-out;
  -o-transition: opacity .7s ease-in-out;
  transition: opacity .7s ease-in-out;
  /* 596px/900px = .6622 */

}
.frontSpreadLink img.top{
    position: absolute;
    left:0;
    top:0;
  }
.frontSpreadLink img.top:hover {
  opacity:0;
   
}

#frontBannerRow {
  background-color: #15170C;
  width: 100%;
  background-image: url(../images/banner.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  margin-bottom: 35px;
}
#frontBannerText {
  text-shadow: 1px 1px 1px black;
  color: white;
  font-size: 16px;
  line-height: 25px;
  margin: 30px 0;
  padding: 15px;
}
#frontBannerText h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: none;
  font-weight: 400;
  text-shadow: 1px 1px 1px black;
  font-size: 28px;
  letter-spacing: 0;
}
/*------contact page------------*/
#conLine1{
  font-size: 22px;
}
#contactLead {
  margin-top: 50px;
}
#contactInfo {
  margin-top: 50px;
  padding: 20px;
  border: solid 1px white;
  text-align: center;
  margin-bottom: 100px;

}
#contactInfo a{
  color: white;
}

.contactWrap{
  text-shadow: 0 1px 0 black;
  padding-top: 100px;
  background: url("../images/doorway.jpg") center center;
  background-size: cover;
  color: white;
}

/*-------slider--------*/
.active {
  color: #666;
}
.carousel-nav ul {
  list-style: none;
}
.carousel,
.carousel-inner .item {
  height: 430px;
}
.carousel-control {
  top: 15% !important;
}
#myCarousel {
  margin: 30px 0px 0px;
  width: 100%;
}
.carousel-caption h4 a {
  color: white;
  font-size: 24px;
}
.carousel-caption p {
  margin-bottom: 0;
}
.carousel-inner .item a.whole {
  display: block;
  width: 100%;
  z-index: 10001;
  position: absolute;
  bottom: 0px;
}
.carousel-caption p a {
  display: none;
}
#carousel-nav {
  text-align: center;
  border-bottom: 1px dotted #CCC;
}
#carousel-nav a {
  margin: 4px;
  padding: 5px;
  background: #eee;
  color: #000;
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
#carousel-rel {
  margin: -24px 0px 0px;
  font-size: 0.9em;
}
#carousel-nav a.active {
  background: #666;
  color: #fff;
}
.right,
.alignright {
  float: right;
  padding-left: 5px;
}
#myCarousel .right {
  float: none;
}
/************       common        *********************/
body {
  background: url(../images/grid_noise_green.png) repeat;
  background-color: #FAFAFA;
  padding: 0px;
  color: #2E381E;
}
a {
  color: #649000;
}
a:hover {
  color: #D7B97F;
}
article {
  margin: 15px 0px 15px 0px;
  border-bottom: solid 1px gray;
  padding-bottom: 15px;
}
article heading {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: .5em;
}
section {
  margin-bottom: 1.3%;
}
h2 {
  margin-top: 25px;
  font-size: 20px;
  line-height: 26px;
}
.lead {
    font-size: 19px;
  }
.finePrint {
  font-size: 9px;
  color: #999;
  line-height: 9px;
}
.textCenter {
  text-align: center;
}
.quoteMeta {
  font-style: normal;
}
.bannerQuote {
  color: #999;
  font-style: italic;
  font-size: 24px;
  text-align: center;
  line-height: 1.2em;
  background: -moz-linear-gradient(left, rgba(249, 247, 242, 0) 0%, #ffffff 50%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(249, 247, 242, 0)), color-stop(50%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(left, rgba(249, 247, 242, 0) 0%, #ffffff 50%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(left, rgba(249, 247, 242, 0) 0%, #ffffff 50%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(left, rgba(249, 247, 242, 0) 0%, #ffffff 50%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */

  background: linear-gradient(to right, rgba(249, 247, 242, 0) 0%, #ffffff 50%, rgba(255, 255, 255, 0) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f9f7f2', endColorstr='#00ffffff', GradientType=1);
  /* IE6-9 */

  border-top: 1px solid #EDECEC;
  border-bottom: 1px solid #EDECEC;
  margin: 1em 0;
  padding: 1em;
}
blockquote {
  padding: 0 50px;
  font-style: italic;
  overflow: hidden;
  /* clearfix alternative */

  
  line-height: 150%;
  color: #454545;
  border: none;
}
/*blockquote:before {
	display: block;
	float: left;
	margin-left: -40px;
	font-size: 100px;
	content: open-quote;
	color: #bababa;
	text-shadow: 0 1px 1px #909090;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
}
*/
blockquote:after {
  content: none;
}
hr {
  border-color: #dddddd -moz-use-text-color #ffffff;
}
/********* tabs **************/
.nav-tabs {
  margin-bottom: 0px;
}
.tab-content {
  padding: 15px;
  background: -moz-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
  /* IE6-9 */

}
/********* expands ***********/
.accordion-group {
  border: none;
  /*border-color:rgba(194, 187, 205, 0.1);*/

}
.accordion-inner {
  border-top: rgba(194, 187, 205, 0.5);
  border: none;
}
.cite {
  text-align: right;
  margin-right: 5em;
  font-size: .75em;
  color: #999;
}
heading {
  font-weight: bold;
}
h1,
h2,
.h2Sub {
  text-transform: uppercase;
  /*letter-spacing:.1em;*/

}
.h2Sub {
  color: #666;
  font-size: 18px;
}
.headingPair {
  margin-bottom: -0.2em;
}
.bannerCap {
  color: white;
  padding: 20px;
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.5);
}
.box {
  padding: 10px;
  background: white;
  border: 1px solid #CCC;
  margin-bottom: 15px;
}
.divLine {
  border-bottom: 1px solid #CCC;
  padding-bottom: .3em;
  margin-bottom: .3em;
}
/*type*/
h1,
h2,
h3,
h4,
h5,
#siteNav a,
.frontSpreadCap {

  font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    font-weight: 300;
}
h1 {
  font-size: 30px;
   letter-spacing: 0.1em;
}
body,
p {
 
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
 

}
.img-polaroid {
    padding: 1.5%;
    width: 97%;
}
.largeIco {
  float: right;
  padding: 30px;
  font-size: 60px;
  margin: 5px;
}
.pad1 {
  padding: .25em;
}
.pad2 {
  padding: .5em;
}
.pad3 {
  padding: .75em;
}
.pad4 {
  padding: 1em;
}
.input-xxlarge {
  width: 95%;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
  padding: 0px;
}
.center {
  text-align: center;
}
#aboutPortrait {
  margin-left: 80px;
  margin-top: 25px;
  margin-right: 10px;
  width: 200px;
  padding:1%;
}
#returnsChart {
  margin-top: 30px;
  margin-bottom: 30px;
}

#lettersList a {
  font-weight: bold;
  font-size: 15px;
}
#lettersList li {
  margin-top: 25px;
  list-style-type: none;
}
.footnote {

  margin-right: 5em;
  font-size: .75em;
  color: #999;

}
.subHead {
  font-size: 1.3em;
}
.performHead {
  margin-top: 2em;
}
.performSubHead {
  margin-bottom: 2em;
}
.foot{
  font-size: 10px;
}
#perfDis{margin-top: 55px;}
#authLink{margin-left: 15px;}


@media (max-width: 979px) {
  .nav-collapse .nav {
    width: 100%;
  }
}
@media (min-width: 607px) {
  .dataImg{
    width: auto;
    max-width: none;
    
    padding: none;
  }

}

@media (max-width: 767px) {

  .brand img{
    /*width: 90px;*/
  }
  .navbar .brand{
    padding-left: 0;
  }

  .navbar .nav > li > a {
      font-size: 13px;
      padding: 11px 11px;
  }


  footer section {
    margin: auto;
    float: left;
    width: 50%;
  }
  #aboutPortrait {
    margin-bottom: 10px;
    margin: auto;
    float: none;
    display: block;
  }
  .container {
    width:97%;
    padding: 0 1.5%;

  }
  .frontSpreadLink {
    
    position: relative;
  }
  .frontSpreadCap {
    bottom: 0.1em;
    color: white;
    font-size: 2.5em;
    font-variant: small-caps;
    font-weight: bold;
    margin: 0.5em 0.5em 0;
    position: absolute;
    z-index: 3;
  }

  footer ul{
    margin-left: 0;
  }

  footer li{
    line-height: 2.5;
  }
}



@media (min-width:760px) and (max-width: 1200px) {
  #aboutPortrait {
 
    /*margin-top: -15px;*/
    
}
}

@media (min-width: 1200px) {
  #aboutPortrait {
 margin-right: 100px;
    /*margin-top: -15px;*/
    padding: 1%;
    width: 200px;
    margin-left: 80px;
}
}

@media (max-width: 575px) {
  .navbar-inner > .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #siteNav li#li_home {
      border-left: none;
  }
}
