<footer class="container">
	<hr>
	<div class="row">
		<div id="footerLinks" class="span12">
		
			<ul>
				
				<li><a href="difference.html">The Kopion Difference</a></li>
				<li><a href="expect.html">What to Expect</a></li>
				<li><a href="performance.html">Performance</a></li>
				<li><a href="letters.html">Client Letter Archive</a></li>
				<li><a href="legal.html">Legal</a> </li>
			</ul>
		</div>
	</div> <!-- end row -->

	<div class="row">
		<div class="span12 foot">
			<span>&copy; Kopion 2018</span>
			<span id="authLink">Site Designed by <a href="http://tlewismedia.com">TLewisMedia</a></span>
		</div>
	</div> <!-- end row -->
</footer>