<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
  
      <a class="brand" href="/"><img src="images/logo.png"></a>
      <div>
        
	     <div class="navWrap">
         <ul class="nav" id="siteNav">
           <li id="li_home"><a href="index.html">Home</a></li>
           <li id="li_about"><a href="team.html">Our Team</a></li>
           <li id="li_contact"><a href="contact.html">Contact</a></li>
     
         </ul>
       </div>
	
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div><!--end nav-->