---
layout: default
title: Home Page Title
---
<div  id="frontBannerRow">
  <div id="frontBanner" class="container">
    <div id="frontBannerText" class="span9">
      <h1><strong>Kopion</strong> (Greek "Κοπίον"): to toil, to labor.</h1>
      
      <div class="span8">
        <p>Like a farmer cultivating an orchard, Kopion applies all of its skills to growing its clients’ equity investment portfolios.  While no investment manager can promise good results, certain attributes improve the likelihood of success, and Kopion is rich in these characteristics.</p>
      
        <p><a href="difference.html">Learn more &raquo;</a></p>
      </div>
    </div>
  </div>
</div>

<div class="container" id="home">
  <div class="row frontSpread" >
    <div class="span4">
      <div class="box">
        <a class="frontSpreadLink" href="difference.html"> 
          <img class="frontImageSpread bottom" src="/img/grove.jpg" />
          
          <img class="frontImageSpread top" src="/img/grove_bw.jpg" />
          
          <div class="frontSpreadCap">The Kopion Difference</div>
        </a>
      </div>
    </div>

    <div class="span4">
      <div class="box">
        <a class="frontSpreadLink" href="expect.html" >
          <img class="frontImageSpread bottom" src="/img/apple_branch.jpg" />
        
          <img class="frontImageSpread top" src="/img/apple_branch_bw.jpg" />

          <div class="frontSpreadCap">What to Expect</div>
        </a>
      </div>
    </div>

    <div class="span4">
      <div class="box"> 
        <a class="frontSpreadLink" href="performance.html">
          <img class="frontImageSpread bottom" src="/img/apple_bushels.jpg" />
          
          <img class="frontImageSpread top" src="/img/apple_bushels_bw.jpg" />
          
          <div class="frontSpreadCap">Performance</div>
        </a>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
